<kendo-popup
  [anchorAlign]="anchorAlign"
  [anchor]="chart.surfaceElement"
  [margin]="tooltipOffset"
  *ngIf="showTooltip"
>
  <div
    [style.max-width.px]="200"
    [style.padding.em]="1"
  >
    {{ tooltipContent }}
  </div>
</kendo-popup>
<kendo-chart
  [categoryAxis]="categoryAxis"
  [transitions]="false"
  (noteHover)="noteHover($event)"
  (noteLeave)="noteLeave()"
  #chart
>
  <kendo-chart-area [margin]="{ bottom: 40 }"></kendo-chart-area>
  <kendo-chart-series>
    <kendo-chart-series-item
      [type]="'line'"
      [data]="data"
    ></kendo-chart-series-item>
  </kendo-chart-series>
</kendo-chart>
